# Python
__pycache__/
*.py[cod]
*$py.class


# Virtualenv
.Python
bin/
ENV/
env/
include/
lib/
lib64/
local/
share/
venv/


# Pip
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json


# System
.DS_Store


# Tests
.coverage

# Users
.vscode
