<?xml version="1.0" encoding="UTF-8"?>
<widget	xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.sergiolopes.cenourapp" version="1.0.0">
    <name> Só	de	Cenoura  </name>
    <description>  Menu	do	restaurante	Só	de	Cenoura. </description>
    <author	href="http://sitebase.com.br" email="marcelsenarios@gmail.com">
     Marcel
    </author>
</widget>